<% provide(:title, 'リンク') %>
<h1>リンク</h1>

    
  <h2>国内４大メーカー！</h2>
  <center>
    <%= link_to image_tag("honda.jpg", alt: "世界のHonda!!"),
              'http://www.honda.co.jp/motor/', :target=>["_blank"] %>    
              
    <%= link_to image_tag("yamaha.png", alt: "デザインのYAMAHA!!"),
              'https://www.yamaha-motor.co.jp/', :target=>["_blank"] %>         
              
    <%= link_to image_tag("suzuki.png", alt: "変態のSUZUKI!!"),
              'http://www1.suzuki.co.jp/motor/', :target=>["_blank"] %>     
              
    <%= link_to image_tag("kawasaki.png", alt: "漢、KAWASAKI!!"),
              'https://www.kawasaki-cp.khi.co.jp/', :target=>["_blank"] %>     

  
  <h2>個性派ぞろい海外メーカー！</h2>
      <%= link_to image_tag("ducati.png", alt: "Ducati"),
              'http://www.ducati.co.jp/index.do', :target=>["_blank"] %>  
              
      <%= link_to image_tag("harley_logo.jpg", alt: "Harley Davidson"),
              'http://www.harley-davidson.com/content/h-d/ja_JP/home.html', :target=>["_blank"] %>  
              
      <%= link_to image_tag("s_ktm_logo.png", alt: "KTM"),
              'http://www.ktm.com/jp/', :target=>["_blank"] %> 
              
      <%= link_to image_tag("bmw_logo.jpeg", alt: "BMW"),
              'http://www.bmw-motorrad.jp/jp/ja/index.html', :target=>["_blank"] %>
              
      <%= link_to image_tag("aprilia.png", alt: "aprilia"),
              'http://aprilia-japan.com/', :target=>["_blank"] %>   
 
      <%= link_to image_tag("piaggio_logo.jpg", alt: "Piaggio"),
              'http://www.piaggio.co.jp/piaggio/', :target=>["_blank"] %>   

      <%= link_to image_tag("motoguzzi.png", alt: "motoguzzi"),
              'http://motoguzzi-japan.com/', :target=>["_blank"] %>  

      <%= link_to image_tag("vespa.png", alt: "vespa"),
              'http://vespa-japan.com/', :target=>["_blank"] %>   

      <%= link_to image_tag("agusta.png", alt: "MV Agusta"),
              'http://www.mv-agusta.jp/', :target=>["_blank"] %>   
 
      <%= link_to image_tag("triumph.png", alt: "TRIUMPH"),
              'http://www.triumphmotorcycles.jp/', :target=>["_blank"] %>    
 
      <%= link_to image_tag("husq.png", alt: "Hasqvarna"),
              'http://www.husqvarna-motorcycles.com/jp/', :target=>["_blank"] %>    

  
    <h2>バイク探し</h2>
      <%= link_to image_tag("goobike.png", alt: "GooBike"),
              'http://www.goobike.com/index.html', :target=>["_blank"] %>    

      <%= link_to image_tag("bikebros.png", alt: "BikeBros."),
              'http://www.bikebros.co.jp/', :target=>["_blank"] %>    
  
    <h2>パーツ探し</h2>  
      <%= link_to image_tag("2rinkan_logo.png", alt: "２りんかん"),
              'https://driverstand.com/tenpo/top/index2.html', :target=>["_blank"] %>    
 
       <%= link_to image_tag("naps_logo.gif", alt: "NAP'S"),
              'https://www.naps-jp.com/', :target=>["_blank"] %>    
  
    <h2>サーキット</h2>
           <%= link_to image_tag("suzuka.png", alt: "鈴鹿サーキット"),
              'http://www.suzukacircuit.jp/', :target=>["_blank"] %>    

           <%= link_to image_tag("motegi.png", alt: "ツインリンクもてぎ"),
              'http://www.twinring.jp/', :target=>["_blank"] %>    
 
           <%= link_to image_tag("tsukuba.png", alt: "筑波サーキット"),
              'https://www.jasc.or.jp/', :target=>["_blank"] %>    
              
    <h2>レース情報</h2>
           <%= link_to image_tag("motogp.png", alt: "motogp"),
              'http://www.motogp.com/ja', :target=>["_blank"] %>    
              
           <%= link_to image_tag("sbk.png", alt: "SBK"),
              'http://www.worldsbk.com/', :target=>["_blank"] %>    
              
           <%= link_to image_tag("mfj.png", alt: "JSB"),
              'http://www.superbike.jp/', :target=>["_blank"] %>  
</center>